@page "/"

<h1>Hello, world!</h1>

@code{
    public static bool SomeBool() => DateTime.Now > DateTime.MinValue;

    public static void DoWork(){
        if(SomeBool() == true)
        {
            Console.WriteLine("Foo");
        }
    }
}
